@model SCAME.Models.MedicoDetalle

@{
    ViewData["Title"] = "Eliminar";
}
<br />
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>Eliminar Configuración del Médico</h1>
        <h3>La información que se elimine sera permanente</h3>
        <h2>
            <br />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Medico)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Medico.Nombre) @Html.DisplayFor(model => model.Medico.Apellido)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Especialidad)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Especialidad.NombreEspecialidad)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PrecioEspecialidad)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PrecioEspecialidad)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DescripcionEspecialidad)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DescripcionEspecialidad)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Turno)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Turno.NombreTurno)
                </dd>
            </dl>
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdMedicoDetalle" />
                <input type="submit" value="Eliminar" class="btn-get-started bg-danger" />
                <a asp-action="Index" class="btn-get-started scrollto">Regresar</a>
            </form>

        </h2>
    </div>
</section>
