@model SCAME.Models.Consultorio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consultorio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ruc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ruc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreConsultorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreConsultorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaRepresentanteLegal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaRepresentanteLegal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreRepresentateLegal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreRepresentateLegal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoRepresentanteLegal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoRepresentanteLegal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumPatenteMunicipal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumPatenteMunicipal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermisoFuncionamientoMsp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermisoFuncionamientoMsp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
