@model IEnumerable<SCAME.Models.Consultorio>

@{
    ViewData["Title"] = "Consultorios";
}
  
    <div class="col-md-12 padding">
        <h1 class="h1 text-center text-strong ">Administrador de Consultorios</h1>
        <br />
        <div class="col-md-12">
            <table class="table table-responsive-sm table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Id Usuario
                        </th>
                        <th scope="col">
                            Ruc
                        </th>
                        <th>
                            Consultorio
                        </th>
                        <th>
                            Cedula del representante
                        </th>
                        <th>
                            Nombre del representante
                        </th>
                        <th>
                            Ciudad
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Direccion)
                        </th>
                        <th>
                            Patente Municipal
                        </th>
                        <th>
                            Permiso de funcionamiento
                        </th>
                        <th>
                            Correo
                        </th>
                        <th>
                            Telefono
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ruc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreConsultorio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CedulaRepresentanteLegal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreRepresentateLegal)
                                @Html.DisplayFor(modelItem => item.ApellidoRepresentanteLegal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Canton.NombreCanton)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Direccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumPatenteMunicipal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PermisoFuncionamientoMsp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.IdConsultorio">Detalles</a> |
                                <a asp-action="Delete" asp-route-id="@item.IdConsultorio">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
