@model IEnumerable<SCAME.Models.Pais>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear Pais</a>
    
    <a asp-action="CreateCiudad">Añadir Ciudad</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombrePais)
            </th>
            <th>
                Provincias
            </th>
            <th>
                Ciudades
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePais)
            </td>
            <td i-Provincia="@item.Id"></td>
            <td i-Canton="@item.Id"></td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>
