@model SCAME.Models.Turno

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Turno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTurno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreTurno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasTurno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasTurno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraSalida)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
