@model SCAME.Models.Medico

@{
    ViewData["Title"] = "Eliminar";
}
<br />
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>Eliminar Médico</h1>
        <h3>La información que se elimine sera permanente</h3>
        <h2>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Cedula)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Cedula)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Telefono)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CodigoSenecyt)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CodigoSenecyt)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TituloEgresado)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TituloEgresado)
                </dd>
            </dl>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="ConsultorioId" />
                <input type="hidden" class="form-check-input" asp-for="Estado" />
                <input type="submit" value="Eliminar" class="btn-get-started bg-danger" />
                <a asp-action="Index" class="btn-get-started scrollto">Regresar</a>
            </form>

        </h2>
    </div>
</section>
